*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container1{
    display:flex;
    flex-direction: row;
    margin: 0;

}
main{
    width: 100%;
    padding: 20px;
    
}
.sidebar{
    background: #212938;
    color: #fff;
    height: 100vh;
    width: 250px;
    transition: all 0.5s; 
    
}
 .main-content{
    transition: padding 0.5s ease;
}  

.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:rgb(128, 128, 128);
    color: #000;
    transition: all 0.5s;
}
.active{
    background: gray;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;

}

.nametag{
    height: fit-content;
    
}
@media screen and (max-width: 991px) {
    .sidebar {
        width: 50px !important;
      }
      .logo {
        display: none !important;
      }
      .link_text {
        display: none !important;
      }
      .bars {
        margin-left: 0 !important;
      }
      .main-content{
        padding-left: 50px !important;
      }
  }