@media(max-width:1040px){
    .mmcontain{
        flex-direction:column;
        align-items: center;
    }

    .sidecontent{
        width:75%  !important;
    }
    .types{
        flex-direction: column;
        align-items: center;
        justify-content: cenetr;

    }
    .types div{
        width: 75% !important;
    }
    .tablecontainer{
        width:100% !important;
        align-items: center;
        justify-content: center;
        
    }


}

.sidecontent{
    width:25%;
}

.error{
    color: #f00;
}